<h1>Spells#index</h1>
<div class="container">
  <div class="row">
    <ul>
      <% @spells.each do |spell| %>
        <li>
          <%= link_to spell.name, spell_path(spell) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
