<h2>List of Spells</h2>

<div class="container">
  <div class="row">
    <ul>
      <% @spells.each do |spell| %>
        <li>
          <%= link_to spell.name, spell_path(spell) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<h2>Spell Categories</h2>
<div class="fluid-container d-flex justify-content-start flex-wrap">
    <%# <ul> %>
    <% @spells.each do |spell| %>
    <% photo = Unsplash::Photo.search(spell.kind).first[:urls][:raw] %>
    <% bg = "https://images.unsplash.com/photo-1556691400-cf15fe27a0b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEzODUyM30&utm_source=alices_terrific_client_app&utm_medium=referral&utm_campaign=api-credit" %>
    <div>
      <a href="#">
          <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= photo.nil ? bg : photo %>)">
            <%= spell.kind %>
          </li>
      </a>
    </div>
    <% end %>
    <%# </ul> %>
</div>

